<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>284941075546-gjrm4scuq1asgf70i4m4t575lr4b7rm7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.284941075546-gjrm4scuq1asgf70i4m4t575lr4b7rm7</string>
	<key>API_KEY</key>
	<string>AIzaSyAVpXy27s1JVc4rsaquESwvlMppu8GauN4</string>
	<key>GCM_SENDER_ID</key>
	<string>284941075546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.actearly.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>actearly-db</string>
	<key>STORAGE_BUCKET</key>
	<string>actearly-db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:284941075546:ios:715c36c87f5385a07bc463</string>
</dict>
</plist>